In [1]:
import pandas as pd
import numpy

## Create the mappings

In [83]:
# Open the sheet with the mappings
mapping_sheet = pd.read_csv("Data-Preparation/Joint-mapping-of-all-three-schemata.csv")
mapping_sheet.head(3)

             Category X-GENRE joint schema From the initial schema
0  A1 (argumentative)            discarded                     FTD
1        A17 (review)            discarded                     FTD
2              Advice            discarded                    CORE

In [84]:
# Create mappings from the sheet
map_df_FTD = mapping_sheet[mapping_sheet["From the initial schema"] == "FTD"]
map_df_CORE = mapping_sheet[mapping_sheet["From the initial schema"] == "CORE"]
map_df_GINCO = mapping_sheet[mapping_sheet["From the initial schema"] == "GINCO"]

map_df_GINCO

,Category,X-GENRE joint schema,From the initial schema
7,FAQ,discarded,GINCO
12,List of Summaries/Excerpts,discarded,GINCO
27,Forum,Forum,GINCO
31,Information/Explanation,Information/Explanation,GINCO
33,Research Article,Information/Explanation,GINCO
36,Instruction,Instruction,GINCO
38,Recipe,Instruction,GINCO
42,Legal/Regulation,Legal,GINCO
44,Announcement,News,GINCO
46,News/Reporting,News,GINCO
47,Opinionated News,News,GINCO
54,Opinion/Argumentation,Opinion/Argumentation,GINCO
57,Review,Opinion/Argumentation,GINCO
59,Call,Other,GINCO
60,Correspondence,Other,GINCO
62,Interview,Other,GINCO
63,Other,Other,GINCO
64,Script/Drama,Other,GINCO
68,Invitation,Promotion,GINCO
69,Promotion,Promotion,GINCO
70,Promotion of a Product,Promotion,GINCO
71,Promotion of Services,Promotion,GINCO
72,Lyrical,Prose/Lyrical,GINCO
75,Prose,Prose/Lyrical,GINCO

In [10]:
# Create dictionary mappings
map_FTD = {x:y for x,y in zip(map_df_FTD["Category"], map_df_FTD["X-GENRE joint schema"])}

print(map_FTD)

{'A1 (argumentative)': 'discarded', 'A17 (review)': 'discarded', 'A14 (academic)': 'Information/Explanation', 'A16 (information)': 'Information/Explanation', 'A7 (instruction)': 'Instruction', 'A9 (legal)': 'Legal', 'A8 (news)': 'News', 'A11 (personal)': 'Opinion/Argumentation', 'A12 (promotion)': 'Promotion', 'A4 (fiction)': 'Prose/Lyrical'}

In [85]:
map_CORE = {x:y for x,y in zip(map_df_CORE["Category"], map_df_CORE["X-GENRE joint schema"])}

print(map_CORE)

{'Advice': 'discarded', 'Course Materials': 'discarded', 'Description of a Person': 'discarded', 'Description of a Thing': 'discarded', 'Description with Intent to Sell': 'discarded', 'FAQ about How-to': 'discarded', 'FAQ about Information': 'discarded', 'Historical Article': 'discarded', 'Information Blog': 'discarded', 'Magazine Article': 'discarded', 'Other Forum': 'discarded', 'Other Information': 'discarded', 'Other Informational Persuasion': 'discarded', 'Other Opinion': 'discarded', 'Other Spoken': 'discarded', 'Poem': 'discarded', 'Question/Answer Forum': 'discarded', 'Reader/Viewer Responses': 'discarded', 'Religious Blogs/Sermons': 'discarded', 'Technical Report': 'discarded', 'Transcript of Video/Audio': 'discarded', 'Travel Blog': 'discarded', 'Discussion Forum': 'Forum', 'Encyclopedia Article': 'Information/Explanation', 'Research Article': 'Information/Explanation', 'How-to': 'Instruction', 'Recipe': 'Instruction', 'Technical Support': 'Instruction', 'Legal terms': 'Legal', 'News Report/Blog': 'News', 'Sports Report': 'News', 'Editorial': 'Opinion/Argumentation', 'Formal Speech': 'Opinion/Argumentation', 'Letter to Editor': 'Opinion/Argumentation', 'Opinion Blog': 'Opinion/Argumentation', 'Personal Blog': 'Opinion/Argumentation', 'Persuasive Article or Essay': 'Opinion/Argumentation', 'Reviews': 'Opinion/Argumentation', 'Interview': 'Other', 'TV/Movie Script': 'Other', 'Advertisement': 'Promotion', 'Prayer': 'Prose/Lyrical', 'Short Story': 'Prose/Lyrical', 'Song Lyrics': 'Prose/Lyrical', 'Other Narrative': 'discarded', 'Other Lyrical': 'discarded', 'Other How-to': 'discarded'}

In [12]:
map_GINCO = {x:y for x,y in zip(map_df_GINCO["Category"], map_df_GINCO["X-GENRE joint schema"])}

print(map_GINCO)

{'FAQ': 'discarded', 'List of Summaries/Excerpts': 'discarded', 'Forum': 'Forum', 'Information/Explanation': 'Information/Explanation', 'Research Article': 'Information/Explanation', 'Instruction': 'Instruction', 'Recipe': 'Instruction', 'Legal/Regulation': 'Legal', 'Announcement': 'News', 'News/Reporting': 'News', 'Opinionated News': 'News', 'Opinion/Argumentation': 'Opinion/Argumentation', 'Review': 'Opinion/Argumentation', 'Call': 'Other', 'Correspondence': 'Other', 'Interview': 'Other', 'Other': 'Other', 'Script/Drama': 'Other', 'Invitation': 'Promotion', 'Promotion': 'Promotion', 'Promotion of a Product': 'Promotion', 'Promotion of Services': 'Promotion', 'Lyrical': 'Prose/Lyrical', 'Prose': 'Prose/Lyrical'}

```
map_FTD = {'A1 (argumentative)': 'discarded', 'A17 (review)': 'discarded', 'A14 (academic)': 'Information/Explanation', 'A16 (information)': 'Information/Explanation', 'A7 (instruction)': 'Instruction', 'A9 (legal)': 'Legal', 'A8 (news)': 'News', 'A11 (personal)': 'Opinion/Argumentation', 'A12 (promotion)': 'Promotion', 'A4 (fiction)': 'Prose/Lyrical'}

map_GINCO = {'FAQ': 'discarded', 'List of Summaries/Excerpts': 'discarded', 'Forum': 'Forum', 'Information/Explanation': 'Information/Explanation', 'Research Article': 'Information/Explanation', 'Instruction': 'Instruction', 'Recipe': 'Instruction', 'Legal/Regulation': 'Legal', 'Announcement': 'News', 'News/Reporting': 'News', 'Opinionated News': 'News', 'Opinion/Argumentation': 'Opinion/Argumentation', 'Review': 'Opinion/Argumentation', 'Call': 'Other', 'Correspondence': 'Other', 'Interview': 'Other', 'Other': 'Other', 'Script/Drama': 'Other', 'Invitation': 'Promotion', 'Promotion': 'Promotion', 'Promotion of a Product': 'Promotion', 'Promotion of Services': 'Promotion', 'Lyrical': 'Prose/Lyrical', 'Prose': 'Prose/Lyrical'}


map_CORE = {'Advice': 'discarded', 'Course Materials': 'discarded', 'Description of a Person': 'discarded', 'Description of a Thing': 'discarded', 'Description with Intent to Sell': 'discarded', 'FAQ about How-to': 'discarded', 'FAQ about Information': 'discarded', 'Historical Article': 'discarded', 'Information Blog': 'discarded', 'Magazine Article': 'discarded', 'Other Forum': 'discarded', 'Other Information': 'discarded', 'Other Informational Persuasion': 'discarded', 'Other Opinion': 'discarded', 'Other Spoken': 'discarded', 'Poem': 'discarded', 'Question/Answer Forum': 'discarded', 'Reader/Viewer Responses': 'discarded', 'Religious Blogs/Sermons': 'discarded', 'Technical Report': 'discarded', 'Transcript of Video/Audio': 'discarded', 'Travel Blog': 'discarded', 'Discussion Forum': 'Forum', 'Encyclopedia Article': 'Information/Explanation', 'Research Article': 'Information/Explanation', 'How-to': 'Instruction', 'Recipe': 'Instruction', 'Technical Support': 'Instruction', 'Legal terms': 'Legal', 'News Report/Blog': 'News', 'Sports Report': 'News', 'Editorial': 'Opinion/Argumentation', 'Formal Speech': 'Opinion/Argumentation', 'Letter to Editor': 'Opinion/Argumentation', 'Opinion Blog': 'Opinion/Argumentation', 'Personal Blog': 'Opinion/Argumentation', 'Persuasive Article or Essay': 'Opinion/Argumentation', 'Reviews': 'Opinion/Argumentation', 'Interview': 'Other', 'TV/Movie Script': 'Other', 'Advertisement': 'Promotion', 'Prayer': 'Prose/Lyrical', 'Short Story': 'Prose/Lyrical', 'Song Lyrics': 'Prose/Lyrical', 'Other Narrative': 'discarded', 'Other Lyrical': 'discarded', 'Other How-to': 'discarded'}

```

## Apply mapping to GINCO sheet

In [31]:
# Apply mapping to the sheet with all information

GINCO_sheet = pd.read_csv("data-sheets-with-all-info/GINCO-MT-GINCO-keeptext-with-all-information.csv", sep = "\t", index_col= 0)
GINCO_sheet.head(5)

,id,url,crawled,hard,primary_level_1,primary_level_2,primary_level_3,secondary_level_1,secondary_level_2,secondary_level_3,...,text_length,FTD_pred_on_SL,FTD_pred_on_MT,split-without-rare-categories,primary_level_4,downcast_split,CORE_main_pred_on_SL,CORE_main_pred_on_MT,CORE_sub_pred_on_SL,CORE_sub_pred_on_MT
0,3949,http://www.pomurje.si/aktualno/sport/zimska-li...,2014,False,News/Reporting,News/Reporting,News/Reporting,NaN,NaN,NaN,...,93,A8 (news),A8 (news),test,News/Reporting,test,Narrative,Narrative,Sports Report,Sports Report
1,3726,http://www.ss-sezana.si/sss/index.php?option=c...,2014,False,Information/Explanation,Information/Explanation,Information/Explanation,NaN,NaN,NaN,...,76,A16 (information),A16 (information),test,Information/Explanation,dev,Informational Description/Explanation,Informational Description/Explanation,Description of a Thing,Description of a Thing
2,5621,http://www.kamnik-starejsi.si/novice/144-sodel...,2014,False,Promotion of Services,Promotion of Services,Promotion,Opinion/Argumentation,Opinion/Argumentation,Opinion/Argumentation,...,232,A12 (promotion),A12 (promotion),train,Promotion,test,Informational Description/Explanation,Informational Description/Explanation,Description of a Thing,Description of a Thing
3,3776,http://www.radiocelje.si/novica.php?id=13007&a...,2014,False,News/Reporting,News/Reporting,News/Reporting,NaN,NaN,NaN,...,158,A8 (news),A8 (news),train,News/Reporting,train,Informational Description/Explanation,Informational Description/Explanation,News Report/Blog,News Report/Blog
4,2102,http://www.mtv.si/novice/selena-gomez-ponudila...,2014,False,Opinionated News,Opinionated News,Opinionated News,NaN,NaN,NaN,...,63,A8 (news),A8 (news),test,News/Reporting,train,Narrative,Narrative,News Report/Blog,News Report/Blog

In [32]:
GINCO_sheet["primary_level_1_to_X-GENRE"] = GINCO_sheet["primary_level_1"].map(map_GINCO)

GINCO_sheet["primary_level_1_to_X-GENRE"]

0                          News
1       Information/Explanation
2                     Promotion
3                          News
4                          News
                 ...
997     Information/Explanation
998                   discarded
999                   discarded
1000      Opinion/Argumentation
1001                  discarded
Name: primary_level_1_to_X-GENRE, Length: 1002, dtype: object

In [33]:
# Check whether there is any NaN value in the column with mappings GINCO_sheet
GINCO_sheet[GINCO_sheet["primary_level_1_to_X-GENRE"].isnull().values]

Empty DataFrame
Columns: [id, url, crawled, hard, primary_level_1, primary_level_2, primary_level_3, secondary_level_1, secondary_level_2, secondary_level_3, tertiary_level_1, tertiary_level_2, tertiary_level_3, split, domain, GINCORE, Slovene_text, MT_text, text_length, FTD_pred_on_SL, FTD_pred_on_MT, split-without-rare-categories, primary_level_4, downcast_split, CORE_main_pred_on_SL, CORE_main_pred_on_MT, CORE_sub_pred_on_SL, CORE_sub_pred_on_MT, primary_level_1_to_X-GENRE]
Index: []

[0 rows x 29 columns]

In [34]:
# Save the new GINCO sheet
GINCO_sheet.to_csv("data-sheets-with-all-info/GINCO-MT-GINCO-keeptext-with-all-information.csv", sep = "\t")

In [35]:
# Analyze distribution of labels according to the new mapping
count = pd.DataFrame({"Count": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts()), "Percentage": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts(normalize=True))}, index = GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |     221 |   0.220559   |
| Promotion               |     209 |   0.208583   |
| Information/Explanation |     139 |   0.138723   |
| Opinion/Argumentation   |     131 |   0.130739   |
| discarded               |     109 |   0.108782   |
| Other                   |      70 |   0.0698603  |
| Forum                   |      52 |   0.0518962  |
| Instruction             |      44 |   0.0439122  |
| Legal                   |      17 |   0.0169661  |
| Prose/Lyrical           |      10 |   0.00998004 |

In [36]:
# Discard the "discarded" labels to calculate distribution without them
GINCO_sheet = GINCO_sheet[GINCO_sheet["primary_level_1_to_X-GENRE"] != "discarded"]

GINCO_sheet.describe()

           crawled  text_length
count   893.000000   893.000000
mean   2017.409854   357.256439
std       3.500800   474.135102
min    2014.000000    12.000000
25%    2014.000000    96.000000
50%    2014.000000   192.000000
75%    2021.000000   409.000000
max    2021.000000  4134.000000

In [40]:
count = pd.DataFrame({"Count": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts()), "Percentage": list(round(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts(normalize=True)*100, 2))}, index = GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |     221 |        24.75 |
| Promotion               |     209 |        23.4  |
| Information/Explanation |     139 |        15.57 |
| Opinion/Argumentation   |     131 |        14.67 |
| Other                   |      70 |         7.84 |
| Forum                   |      52 |         5.82 |
| Instruction             |      44 |         4.93 |
| Legal                   |      17 |         1.9  |
| Prose/Lyrical           |      10 |         1.12 |

In [ ]:
# Apply mapping to the sheet with all information

GINCO_sheet = pd.read_csv("data-sheets-with-all-info/GINCO-MT-GINCO-keeptext-with-all-information.csv", sep = "\t", index_col= 0)
GINCO_sheet.head(5)

,id,url,crawled,hard,primary_level_1,primary_level_2,primary_level_3,secondary_level_1,secondary_level_2,secondary_level_3,...,text_length,FTD_pred_on_SL,FTD_pred_on_MT,split-without-rare-categories,primary_level_4,downcast_split,CORE_main_pred_on_SL,CORE_main_pred_on_MT,CORE_sub_pred_on_SL,CORE_sub_pred_on_MT
0,3949,http://www.pomurje.si/aktualno/sport/zimska-li...,2014,False,News/Reporting,News/Reporting,News/Reporting,NaN,NaN,NaN,...,93,A8 (news),A8 (news),test,News/Reporting,test,Narrative,Narrative,Sports Report,Sports Report
1,3726,http://www.ss-sezana.si/sss/index.php?option=c...,2014,False,Information/Explanation,Information/Explanation,Information/Explanation,NaN,NaN,NaN,...,76,A16 (information),A16 (information),test,Information/Explanation,dev,Informational Description/Explanation,Informational Description/Explanation,Description of a Thing,Description of a Thing
2,5621,http://www.kamnik-starejsi.si/novice/144-sodel...,2014,False,Promotion of Services,Promotion of Services,Promotion,Opinion/Argumentation,Opinion/Argumentation,Opinion/Argumentation,...,232,A12 (promotion),A12 (promotion),train,Promotion,test,Informational Description/Explanation,Informational Description/Explanation,Description of a Thing,Description of a Thing
3,3776,http://www.radiocelje.si/novica.php?id=13007&a...,2014,False,News/Reporting,News/Reporting,News/Reporting,NaN,NaN,NaN,...,158,A8 (news),A8 (news),train,News/Reporting,train,Informational Description/Explanation,Informational Description/Explanation,News Report/Blog,News Report/Blog
4,2102,http://www.mtv.si/novice/selena-gomez-ponudila...,2014,False,Opinionated News,Opinionated News,Opinionated News,NaN,NaN,NaN,...,63,A8 (news),A8 (news),test,News/Reporting,train,Narrative,Narrative,News Report/Blog,News Report/Blog

In [ ]:
GINCO_sheet["primary_level_1_to_X-GENRE"] = GINCO_sheet["primary_level_1"].map(map_GINCO)

GINCO_sheet["primary_level_1_to_X-GENRE"]

0                          News
1       Information/Explanation
2                     Promotion
3                          News
4                          News
                 ...
997     Information/Explanation
998                   discarded
999                   discarded
1000      Opinion/Argumentation
1001                  discarded
Name: primary_level_1_to_X-GENRE, Length: 1002, dtype: object

In [ ]:
# Check whether there is any NaN value in the column with mappings GINCO_sheet
GINCO_sheet[GINCO_sheet["primary_level_1_to_X-GENRE"].isnull().values]

Empty DataFrame
Columns: [id, url, crawled, hard, primary_level_1, primary_level_2, primary_level_3, secondary_level_1, secondary_level_2, secondary_level_3, tertiary_level_1, tertiary_level_2, tertiary_level_3, split, domain, GINCORE, Slovene_text, MT_text, text_length, FTD_pred_on_SL, FTD_pred_on_MT, split-without-rare-categories, primary_level_4, downcast_split, CORE_main_pred_on_SL, CORE_main_pred_on_MT, CORE_sub_pred_on_SL, CORE_sub_pred_on_MT, primary_level_1_to_X-GENRE]
Index: []

[0 rows x 29 columns]

In [ ]:
# Save the new GINCO sheet
GINCO_sheet.to_csv("data-sheets-with-all-info/GINCO-MT-GINCO-keeptext-with-all-information.csv", sep = "\t")

In [ ]:
# Analyze distribution of labels according to the new mapping
count = pd.DataFrame({"Count": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts()), "Percentage": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts(normalize=True))}, index = GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |     221 |   0.220559   |
| Promotion               |     209 |   0.208583   |
| Information/Explanation |     139 |   0.138723   |
| Opinion/Argumentation   |     131 |   0.130739   |
| discarded               |     109 |   0.108782   |
| Other                   |      70 |   0.0698603  |
| Forum                   |      52 |   0.0518962  |
| Instruction             |      44 |   0.0439122  |
| Legal                   |      17 |   0.0169661  |
| Prose/Lyrical           |      10 |   0.00998004 |

In [ ]:
# Discard the "discarded" labels to calculate distribution without them
GINCO_sheet = GINCO_sheet[GINCO_sheet["primary_level_1_to_X-GENRE"] != "discarded"]

GINCO_sheet.describe()

           crawled  text_length
count   893.000000   893.000000
mean   2017.409854   357.256439
std       3.500800   474.135102
min    2014.000000    12.000000
25%    2014.000000    96.000000
50%    2014.000000   192.000000
75%    2021.000000   409.000000
max    2021.000000  4134.000000

In [99]:
count_GINCO = pd.DataFrame({"Count": list(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts()), "Percentage": list(round(GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts(normalize=True)*100, 2))}, index = GINCO_sheet["primary_level_1_to_X-GENRE"].value_counts().index)

print(count_GINCO.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |     221 |        24.75 |
| Promotion               |     209 |        23.4  |
| Information/Explanation |     139 |        15.57 |
| Opinion/Argumentation   |     131 |        14.67 |
| Other                   |      70 |         7.84 |
| Forum                   |      52 |         5.82 |
| Instruction             |      44 |         4.93 |
| Legal                   |      17 |         1.9  |
| Prose/Lyrical           |      10 |         1.12 |

In [100]:
count_GINCO

                         Count  Percentage
News                       221       24.75
Promotion                  209       23.40
Information/Explanation    139       15.57
Opinion/Argumentation      131       14.67
Other                       70        7.84
Forum                       52        5.82
Instruction                 44        4.93
Legal                       17        1.90
Prose/Lyrical               10        1.12

## Apply mapping to FTD sheet

In [41]:
# Apply mapping to the sheet with all information

FTD_sheet = pd.read_csv("data-sheets-with-all-info/FTD-dataset-with-all-information.csv", sep = "\t", index_col= 0)
FTD_sheet.head(5)

,ID,labels,Multiple labels,text,length,GINCO_downcast_pred,MT-GINCO_downcast_pred,CORE_main_pred,CORE_sub_pred
0,__id__1-syndicate,A1 (argumentative),NaN,BMW's and Chinese Justice * * * * * In most pl...,975,News/Reporting,News/Reporting,Narrative,News Report/Blog
1,__id__2-syndicate,A1 (argumentative),NaN,China and a New Balance of Power SHANGHAI – Th...,956,Information/Explanation,Opinion/Argumentation,Opinion,Opinion Blog
2,__id__3-syndicate,A1 (argumentative),NaN,China and Russia in the New World Disorder Can...,978,Opinion/Argumentation,Opinion/Argumentation,Opinion,Opinion Blog
3,__id__4-syndicate,A1 (argumentative),NaN,The Roots of Chinese / Japanese Rivalry BOSTON...,957,Opinion/Argumentation,Opinion/Argumentation,Narrative,Historical Article
4,__id__5-syndicate,A1 (argumentative),NaN,China's Cyber-Warriors NEW DELHI – The world n...,1034,News/Reporting,News/Reporting,Narrative,News Report/Blog

In [42]:
FTD_sheet.columns

Index(['ID', 'labels', 'Multiple labels', 'text', 'length',
       'GINCO_downcast_pred', 'MT-GINCO_downcast_pred', 'CORE_main_pred',
       'CORE_sub_pred'],
      dtype='object')

In [48]:
FTD_sheet["labels_to_X-GENRE"] = FTD_sheet["labels"].map(map_FTD).fillna("check")

FTD_sheet["labels_to_X-GENRE"]

0                     discarded
1                     discarded
2                     discarded
3                     discarded
4                     discarded
                 ...
1681                  discarded
1682    Information/Explanation
1683                  discarded
1684                  Promotion
1685    Information/Explanation
Name: labels_to_X-GENRE, Length: 1553, dtype: object

In [50]:
# Check whether there is any NaN value in the column with mappings
# - there are some Nan values, but they are assigned to texts with multiple labels which is ok
Nan_values = FTD_sheet[FTD_sheet["labels_to_X-GENRE"] == "check"]
Nan_values
Nan_values[Nan_values["Multiple labels"] != "y"]

Empty DataFrame
Columns: [ID, labels, Multiple labels, text, length, GINCO_downcast_pred, MT-GINCO_downcast_pred, CORE_main_pred, CORE_sub_pred, labels_to_X-GENRE]
Index: []

In [46]:
# Save the new sheet
FTD_sheet.to_csv("data-sheets-with-all-info/FTD-dataset-with-all-information.csv", sep = "\t")

In [51]:
# Analyze distribution of labels according to the new mapping
count = pd.DataFrame({"Count": list(FTD_sheet["labels_to_X-GENRE"].value_counts()), "Percentage": list(FTD_sheet["labels_to_X-GENRE"].value_counts(normalize=True))}, index = FTD_sheet["labels_to_X-GENRE"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| discarded               |     364 |    0.234385  |
| Promotion               |     256 |    0.164842  |
| Information/Explanation |     247 |    0.159047  |
| Instruction             |     165 |    0.106246  |
| check                   |     139 |    0.0895042 |
| News                    |     136 |    0.0875724 |
| Prose/Lyrical           |      94 |    0.060528  |
| Opinion/Argumentation   |      79 |    0.0508693 |
| Legal                   |      73 |    0.0470058 |

In [52]:
# Discard the "discarded" labels and those that have "check"
# (in the case of FTD, these are the texts with multiple labels)
# to calculate distribution without them
FTD_sheet = FTD_sheet[FTD_sheet["labels_to_X-GENRE"] != "discarded"]
FTD_sheet = FTD_sheet[FTD_sheet["labels_to_X-GENRE"] != "check"]

FTD_sheet.describe()

              length
count    1050.000000
mean     1417.837143
std      5463.628431
min        31.000000
25%       200.000000
50%       417.000000
75%      1105.250000
max    146922.000000

In [102]:
count_FTD = pd.DataFrame({"Count": list(FTD_sheet["labels_to_X-GENRE"].value_counts()), "Percentage": list(round(FTD_sheet["labels_to_X-GENRE"].value_counts(normalize=True)*100, 2))}, index = FTD_sheet["labels_to_X-GENRE"].value_counts().index)

print(count_FTD.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| Promotion               |     256 |        24.38 |
| Information/Explanation |     247 |        23.52 |
| Instruction             |     165 |        15.71 |
| News                    |     136 |        12.95 |
| Prose/Lyrical           |      94 |         8.95 |
| Opinion/Argumentation   |      79 |         7.52 |
| Legal                   |      73 |         6.95 |

## Apply mapping to CORE

In [86]:
# Apply mapping to the sheet with all information

CORE_sheet = pd.read_csv("data-sheets-with-all-info/CORE-all-information.csv", sep = "\t", index_col= 0)
CORE_sheet.head(5)

,label,text,split,main_labels,sublabels,Len,main_len,sub_len,GINCORE,full_names,main_labels_full_names,FTD_pred,GINCO_downcast_pred,MT-GINCO_downcast_pred
0,NA OP SR OB,The Top TEN 'Whiniest Sets of Fans' in English...,train,NA OP,SR OB,4,2,2,NA OP SR OB,SR OB,NA OP,NaN,NaN,NaN
1,NA NE,"Ferry consultation needs deeper questions, say...",train,NaN,NE,2,1,1,News,News Report/Blog,Narrative,NaN,NaN,NaN
2,ID DF,I'v been recording and mixing music for about ...,train,ID,DF,2,1,1,Forum,Discussion Forum,Interactive Discussion,NaN,NaN,NaN
3,NA SR,The 25-year-old did have chances at Anfield. B...,train,NaN,SR,2,1,1,News,Sports Report,Narrative,NaN,NaN,NaN
4,NA IN HA,Elizabethan Science and Technology Elizabethan...,train,NA IN,HA,3,2,1,NA IN HA,Historical Article,NA IN,NaN,NaN,NaN

In [87]:
CORE_sheet.columns

Index(['label', 'text', 'split', 'main_labels', 'sublabels', 'Len', 'main_len',
       'sub_len', 'GINCORE', 'full_names', 'main_labels_full_names',
       'FTD_pred', 'GINCO_downcast_pred', 'MT-GINCO_downcast_pred'],
      dtype='object')

In [88]:
CORE_sheet["subcategories_to_X-GENRE"] = CORE_sheet["full_names"].map(map_CORE).fillna("check")

CORE_sheet["subcategories_to_X-GENRE"]

0                        check
1                         News
2                        Forum
3                         News
4                    discarded
                 ...
48444                     News
48445                discarded
48446    Opinion/Argumentation
48447                     News
48448                    check
Name: subcategories_to_X-GENRE, Length: 48420, dtype: object

In [89]:
# Check whether there is any NaN value in the column with mappings
# - there are some Nan values, but they are assigned to texts with multiple labels which is ok
Nan_values = CORE_sheet[CORE_sheet["subcategories_to_X-GENRE"] == "check"]

Nan_values["sub_len"].value_counts()

1    4932
2    3622
Name: sub_len, dtype: int64

In [95]:
4932+3622

8554

In [92]:
texts_to_check = Nan_values[Nan_values["sub_len"] == 1]
texts_to_check

,label,text,split,main_labels,sublabels,Len,main_len,sub_len,GINCORE,full_names,main_labels_full_names,FTD_pred,GINCO_downcast_pred,MT-GINCO_downcast_pred,subcategories_to_X-GENRE
27,IN,There are some things you just can't Google......,train,IN,NaN,1,1,1,Information/Explanation,NaN,Informational Description/Explanation,NaN,NaN,NaN,check
39,OP,My top 6 handy kitchen tips I'm always on the ...,train,OP,NaN,1,1,1,Opinion/Argumentation,NaN,Opinion,NaN,NaN,NaN,check
55,OTHER,Blogging as a Supplement to Peer Review: My 20...,train,OTHER,NaN,1,1,1,discard,NaN,Other,NaN,NaN,NaN,check
75,NA,"KURDISTAN: The right to be in power Wednesday,...",train,NaN,NaN,2,1,1,discard,NaN,Narrative,NaN,NaN,NaN,check
76,IN,Putting Nature Back Into the Natural Beauty of...,train,IN,NaN,1,1,1,Information/Explanation,NaN,Informational Description/Explanation,NaN,NaN,NaN,check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48426,IN,Analysing a whole poem Topics 1-4 have been co...,dev,IN,NaN,1,1,1,Information/Explanation,NaN,Informational Description/Explanation,NaN,NaN,NaN,check
48431,NA,Catch Up On...THE WAR IN IRAQ (Megoracle's Fir...,dev,NaN,NaN,2,1,1,discard,NaN,Narrative,NaN,NaN,NaN,check
48442,OTHER,Last Friday I gave a talk to a group of just o...,dev,OTHER,NaN,1,1,1,discard,NaN,Other,NaN,NaN,NaN,check
48443,NA,"As a prisoner of war in Vietnam, Eagle Scout G...",dev,NaN,NaN,2,1,1,discard,NaN,Narrative,NaN,NaN,NaN,check
48448,IN OP,2009 September 14th The folks over at VGBlogge...,dev,IN OP,NaN,2,2,1,discard,NaN,IN OP,NaN,NaN,NaN,check

 3622 texts are not mapped, because they have multiple labels, 4932 are not mapped because they were annotated only with main CORE labels and with no subcategories.

In [93]:
# Save the new CORE sheet
CORE_sheet.to_csv("data-sheets-with-all-info/CORE-all-information.csv", sep = "\t")

In [94]:
# Analyze distribution of labels according to the new mapping
count = pd.DataFrame({"Count": list(CORE_sheet["subcategories_to_X-GENRE"].value_counts()), "Percentage": list(CORE_sheet["subcategories_to_X-GENRE"].value_counts(normalize=True))}, index = CORE_sheet["subcategories_to_X-GENRE"].value_counts().index)

print(count.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |   13323 |  0.275155    |
| discarded               |   11211 |  0.231537    |
| Opinion/Argumentation   |    8979 |  0.18544     |
| check                   |    8554 |  0.176663    |
| Forum                   |    1950 |  0.0402726   |
| Instruction             |    1528 |  0.0315572   |
| Information/Explanation |    1344 |  0.0277571   |
| Prose/Lyrical           |     842 |  0.0173895   |
| Other                   |     490 |  0.0101198   |
| Legal                   |     186 |  0.00384139  |
| Promotion               |      13 |  0.000268484 |

In [97]:
# Discard the "discarded" labels and those that have "check"
# (in the case of CORE, these are the texts with multiple labels or no CORE subcategory label)
# to calculate distribution without them
CORE_sheet = CORE_sheet[CORE_sheet["subcategories_to_X-GENRE"] != "discarded"]
CORE_sheet = CORE_sheet[CORE_sheet["subcategories_to_X-GENRE"] != "check"]

CORE_sheet.describe()

                Len      main_len  sub_len
count  28655.000000  28655.000000  28655.0
mean       2.059536      1.059536      1.0
std        0.236629      0.236629      0.0
min        2.000000      1.000000      1.0
25%        2.000000      1.000000      1.0
50%        2.000000      1.000000      1.0
75%        2.000000      1.000000      1.0
max        3.000000      2.000000      1.0

In [103]:
# Analyze distribution of labels according to the new mapping
count_CORE = pd.DataFrame({"Count": list(CORE_sheet["subcategories_to_X-GENRE"].value_counts()), "Percentage": list(round(CORE_sheet["subcategories_to_X-GENRE"].value_counts(normalize=True)*100, 2))}, index = CORE_sheet["subcategories_to_X-GENRE"].value_counts().index)

print(count_CORE.to_markdown())

|                         |   Count |   Percentage |
|:------------------------|--------:|-------------:|
| News                    |   13323 |        46.49 |
| Opinion/Argumentation   |    8979 |        31.33 |
| Forum                   |    1950 |         6.81 |
| Instruction             |    1528 |         5.33 |
| Information/Explanation |    1344 |         4.69 |
| Prose/Lyrical           |     842 |         2.94 |
| Other                   |     490 |         1.71 |
| Legal                   |     186 |         0.65 |
| Promotion               |      13 |         0.05 |

In [104]:
count_FTD.Percentage

Promotion                  24.38
Information/Explanation    23.52
Instruction                15.71
News                       12.95
Prose/Lyrical               8.95
Opinion/Argumentation       7.52
Legal                       6.95
Name: Percentage, dtype: float64

In [108]:
# make dataframe
merged_df = pd.DataFrame({"GINCO":count_GINCO.Percentage, "FTD":count_FTD.Percentage, "CORE": count_CORE.Percentage})

merged_df.fillna(0, inplace=True)

print(merged_df.to_markdown())

|                         |   GINCO |   FTD |   CORE |
|:------------------------|--------:|------:|-------:|
| Forum                   |    5.82 |  0    |   6.81 |
| Information/Explanation |   15.57 | 23.52 |   4.69 |
| Instruction             |    4.93 | 15.71 |   5.33 |
| Legal                   |    1.9  |  6.95 |   0.65 |
| News                    |   24.75 | 12.95 |  46.49 |
| Opinion/Argumentation   |   14.67 |  7.52 |  31.33 |
| Other                   |    7.84 |  0    |   1.71 |
| Promotion               |   23.4  | 24.38 |   0.05 |
| Prose/Lyrical           |    1.12 |  8.95 |   2.94 |